<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Studies Education Category Bootstrap Responsive website Template | Home :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	    {% load staticfiles %}
	<meta name="keywords" content="Studies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Bootstrap-Core-CSS -->
	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- Style-CSS -->
	<link href="{% static 'css/font-awesome.min.css' %}"  rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- header 2 -->
	<!-- navigation -->
	<div class="main-top" id="home">
		<div class="container d-lg-flex">
			<!-- logo -->
			<h1 class="logo-style-res float-left">
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'images/logo.png' %}" alt="" class="img-fluid logo-img" style="width:50%; padding:5px 10px">
				</a>
			</h1>
			<!-- //logo -->
			<!-- nav -->
			<div class="nav_w3ls mx-lg-auto">
				<nav>
					<label for="drop" class="toggle">Menu</label>
					<input type="checkbox" id="drop" />
					<ul class="menu mx-lg-auto">
						<li><a href="index.html" class="active">主页</a></li>
						<li><a href="#about">关于我们</a></li>
						<li><a href="#product">产品介绍</a></li>
						<li><a href="#tech">技术实现</a></li>
						<li><a href="#team">团队成员</a></li>
						<li><a href="#contact">联系我们</a></li>
					</ul>
				</nav>
			</div>
			<!-- //nav -->
		</div>
	</div>
	<!-- //navigation -->
	<!-- //header 2 -->

	<!-- banner -->
	<div class="banner_w3lspvt">
		<div class="csslider infinity" id="slider1">
			<input type="radio" name="slides" checked="checked" id="slides_1" />
			<input type="radio" name="slides" id="slides_2" />
			<ul class="banner banner1">
				<li class="banner-top1">
					<div class="container">
						<div class="banner-info_w3ls">
							<h5 class="text-li">Greater Bay Area AI Academy </h5>
							<h3 class="text-wh font-weight-bold mt-2 mb-5">粤港澳大湾区 <br>人工智能学院 </h3>
							<p> Unleash the power of mankind by frontier knowledge, technology and innovation </p>
						</div>
					</div>
				</li>
				<li class="banner banner2">
					<div class="container">
						<div class="banner-info_w3ls">
							<h5 class="text-li">Greater Bay Area AI Academy </h5>
							<h3 class="text-wh font-weight-bold mt-2 mb-5">自适应全方位教学系统 <br>“老师带回家,学习不求人” </h3>
							<p> Unleash the power of mankind by frontier knowledge, technology and innovation </p>
						</div>
					</div>
				</li>
			</ul>
			<div class="navigation">
				<div>
					<label for="slides_1"></label>
					<label for="slides_2"></label>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->

	<!-- banner bottom grids -->
	<section class="about-bottom" id="services">
		<div class="container pb-lg-4">
			<div class="row bg-colors text-center">
				<div class="col-md-4 service-subgrids">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-wh font-weight-bold mb-3">自适应个性化教学</h4>
						<p class="text-li"> 智能判断学生的学习情况，快响应地推送学生不懂的资料</p>
					</div>
					<span class="fa fa-users" aria-hidden="true"></span>
				</div>
				<div class="col-md-4 service-subgrids bg-li">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-bl font-weight-bold mb-3">虚拟教师</h4>
						<p class="text-secondary"> 一人e师，e老师能够因材施教，精准掌握课程进度</p>
					</div>
					<span class="fa fa-linode" aria-hidden="true"></span>
				</div>
				<div class="col-md-4 service-subgrids">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-wh font-weight-bold mb-3">千人千面</h4>
						<p class="text-li">个性化定制教学，适用于多种人群</p>
					</div>
					<span class="fa fa-book" aria-hidden="true"></span>
				</div>
			</div>
			<div class="row bg-colors text-center">
				<div class="col-md-4 service-subgrids bg-li">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-bl font-weight-bold mb-3">计算机视觉</h4>
						<p class="text-secondary"> 监测学生知识接受程度</p>
					</div>
					<span class="fa fa-laptop" aria-hidden="true"></span>
				</div>
				<div class="col-md-4 service-subgrids">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-wh font-weight-bold mb-3">自然语言处理</h4>
						<p class="text-li"> 实现师生在线互动</p>
					</div>
					<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
				</div>
				<div class="col-md-4 service-subgrids bg-li">
					<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
						<h4 class="text-bl font-weight-bold mb-3">推荐系统</h4>
						<p class="text-secondary"> 为不同学生推送定制化知识</p>
					</div>
					<span class="fa fa-magic" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</section>
	<!-- //banner bottom grids -->

	<!-- about -->
	<section class="w3ls-bnrbtm py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 pr-xl-5">
					<h5 class="text-colors let-spa" style="margin-top:100px;">关于我们</h5>
					<h3 class="text-bl font-weight-bold mt-3 mb-5">AI助力教学<br>自适应全方位教学系统</h3>
				</div>
				<div class="col-lg-6 pl-xl-5 mt-lg-0 mt-4">
					<!-- <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus
						at, semper
						varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
						per conubia.</p>
					<p class="pt-4 mt-4 border-top">Donec consequat sapien ut leo cursus rhoncus. Nullam dui
						mi, vulputate ac metus
						at, semper varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad
						litora torquent per.</p> -->
						<img src="images/aboutus-1.png" alt="" width="160%">
				</div>
			</div>
			<!-- stats-->
			<div class="stats-info mt-5 pt-lg-4">
				<div class="row">
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-smile-o"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">10+</p>
								<p class="text-colors mt-2">团队成员</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am mt-sm-0 mt-4">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-shield"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">4+</p>
								<p class="text-colors mt-2">合作伙伴</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am mt-lg-0 mt-4">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-user-o"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">350w+</p>
								<p class="text-colors mt-2">已获融资</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 stats-grid-w3-w3pvt-am mt-lg-0 mt-4">
						<div class="row">
							<div class="col-4 icon-right-w3ls text-sm-left text-center">
								<div class="stats-icon-w3pvt">
									<span class="fa fa-thumbs-o-up"></span>
								</div>
							</div>
							<div class="col-8">
								<p class="counter font-weight-bold text-bl">8+</p>
								<p class="text-colors mt-2">技术顾问</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //stats -->
		</div>
	</section>
	<!-- //about -->

	<hr>

	<!-- 产品介绍 -->
	<section class="w3ls-bnrbtm py-5" id="product">
		<div class="py-xl-5 py-lg-3">
			<div class="row no-gutters">
				<div class="col-xl-6 who-left-w3pvt">
					<h3 class="text-bl font-weight-bold mt-2 mb-3">产品介绍</h3>
					<p>传统网课的缺点</p>
					<ul class="list-unstyled who-lists mt-4 ml-5">
						<li><span class="fa fa-caret-right"></span>名师有限，决策成本高</li>
						<li class="my-2"><span class="fa fa-caret-right"></span>教学单一，反馈机制低效</li>
						<li><span class="fa fa-caret-right"></span>学生基础不同，学习效果存在差异</li>
					</ul>
					<br><br>
					<p>一人e师的优点</p>
					<ul class="list-unstyled who-lists mt-4 ml-5">
						<li><span class="fa fa-caret-right"></span>自适应推荐，高效决策</li>
						<li class="my-2"><span class="fa fa-caret-right"></span>监测系统+AI算法，强化教学</li>
						<li><span class="fa fa-caret-right"></span>一对一教学，切合学生实际情况</li>
					</ul>

					<div class="bars-main-info mt-5">
						<h3 class="text-bl font-weight-bold mb-4">学生知识接受效率比较</h3>
						<div class="progress-one">
							<h4 class="progress-tittle">传统网课</h4>
							<div class="progress-effect progress-effect-1 w-25">
							</div>
						</div>
						<br>
						<div class="progress-one">
							<h4 class="progress-tittle">一人e师</h4>
							<div class="progress-effect progress-effect-3 w-75">

							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-6 mt-xl-0 mt-5 text-xl-right text-center">
					<center><img class="img-fluid rounded" src="{% static 'images/product1.png' %}" width="80%" alt=""></center>

				</div>
			</div>
		</div>
	</section>
	<!-- //产品介绍 -->

	<!-- testimonials -->
	<section class="clients" id="testi">
		<div class="row no-gutters pb-4">
			<div class="col-lg-6 col-md-8 left-test-w3pvt p-sm-5 p-4">
				<div class="my-4 py-xl-5 py-lg-3">
					<div class="feedback-info">
						<div class="feedback-top">
							<p>Unleash the power of mankind by frontier knowledge, technology and innovation</p>
							<h4 class="mt-4 text-wh font-weight-bold mb-4">老师带回家,学习不求人</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-4"></div>
		</div>
	</section>
	<!-- //testimonials -->


	<!-- 技术实现 -->
	<div class="gallery py-5" id="tech">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="text-bl text-center font-weight-bold mb-2">技术实现</h3> <br><br>
			<div class="row no-gutters">
				<div class="col-md-12 gallery-grid1">
					<center>
					<img src="{% static 'images/tech/1.png' %}" alt=" " class="img-fluid" />
					<p>推荐系统</p>
					</center>
				</div>
			</div><br><br>
			<div class="row no-gutters">
				<div class="col-md-12 gallery-grid1">
					<center>
						<img src="{% static 'images/tech/2.png' %}" alt=" " class="img-fluid" />
					<p>强化学习</p></center>
				</div>
			</div><br><br>
			<div class="row no-gutters">
				<div class="col-md-12 gallery-grid1">
					<center>
						<img src="{% static 'images/tech/3.png' %}" alt=" " class="img-fluid" />
					<p>语音识别</p></center>
				</div>
			</div><br><br>
			<div class="row no-gutters">
				<div class="col-md-12 gallery-grid1">
					<center>
						<img src="{% static 'images/tech/4.png' %}" alt=" " class="img-fluid" />
					<p>表情识别</p></center>
				</div>
			</div>

		</div>
	</div>
	<!-- //技术实现 -->

	<hr>

	<!-- Teams -->
	<section class="teams text-center py-5" id="team">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="text-bl font-weight-bold mb-2">团队成员</h3>
			<h6 class="text-colors let-spa mb-5">创始团队</h6>

			<div class="row inner-sec-w3ls-w3pvt-aminfo pt-sm-4">
				<div class="col-md-3 col-sm-6 p-0">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/1.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>周建新 创始人</h4> <br>
							<p>博士研究生,连续创业者，上市公司董事，创投公司合伙人
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/2.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>L 邓 博士 首席科学家</h4><br>
							<p>史丹福大学计算工程及数学博士</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 mt-sm-0 mt-5">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/3.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>曹远雄 CEO</h4>
							<br><p>清华大学精准医学硕士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/4.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>YS Li CTO</h4>
							<br><p>香港大学内外全科医学士</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row inner-sec-w3ls-w3pvt-aminfo pt-sm-4">
				<div class="col-md-3 col-sm-6 p-0">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/5.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>成昆 首席架构师</h4> <br>
							<p>清华大学数据科学博士研究生
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/6.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>张斌杰 CIO</h4><br>
							<p>清华大学深中法硕士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 mt-sm-0 mt-5">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/7.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>孙崇博 CMO</h4>
							<br><p>清华大学储能材料硕士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/8.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>政雪翎 首席研究员</h4>
							<br><p>清华大学数据科学博士研究生</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row inner-sec-w3ls-w3pvt-aminfo pt-sm-4">
				<div class="col-md-3 col-sm-6 p-0">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/9.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>范家旗 首席研究员</h4> <br>
							<p>清华大学数据科学博士研究生
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/10.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>杨仑 首席研究员</h4><br>
							<p>清华大学博士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 mt-sm-0 mt-5">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/11.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>王继洪 首席研究员</h4>
							<br><p>清华大学数据科学硕士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/12.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>刘心怡 首席研究员</h4>
							<br><p>清华大学数据科学硕士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem"></div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/13.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>王远  首席研究员</h4>
							<br><p>清华大学数据科学硕士研究生</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/14.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>廖日威 首席研究员</h4>
							<br><p>清华大学博士研究生</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 p-0 top-tem"></div>

			<h6 class="text-colors let-spa mb-5">技术顾问</h6>
			<div class="row inner-sec-w3ls-w3pvt-aminfo pt-sm-4">
				<div class="col-md-3 col-sm-6 p-0">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/15.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>Dr. Rahmel</h4> <br>
							<p>德国汇丰银行首席数码官
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/16.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>Dr. Sung</h4><br>
							<p>复旦大学金融科技FFFRC教授</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 mt-sm-0 mt-5">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/17.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>Dr. Shafir</h4>
							<br><p>以色列理工学院电脑科学博士</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 p-0 top-tem">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="{% static 'images/team/18.png' %}" alt="">
						</div>
						<div class="team-info">
							<h4>Dr. Goe</h4>
							<br><p>Singularity Studio 创始人及CEO</p>
						</div>
					</div>
				</div>
			</div>

	</section>
	<!-- //Teams -->



		<!-- footer -->
		<footer class="bg-colors py-5">
			<div class="container py-xl-4">
				<div class="row footer-grids">
					<div class="col-lg-2 col-sm-4 footer-grid">
						<h3 class="mb-sm-4 mb-3 pb-lg-3">主页</h3>
						<ul class="list-unstyled">
							<li>
								<a href="index.html">主页介绍</a>
							</li>
							<li class="my-2">
								<a class="scroll" href="#about">关于我们</a>
							</li>
							<li>
								<a class="scroll" href="#product">产品介绍</a>
							</li>
							<li class="my-2">
								<a class="scroll" href="#tech">技术实现</a>
							</li>
							<li>
								<a class="scroll" href="#contact">联系我们</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-sm-4 footer-grid">
					</div>
					<div class="col-lg-4 col-sm-6 footer-grid mt-lg-0 mt-4">
						<div class="address">
							<div class="row address-grid">
								<div class="col-md-3 col-sm-4 col-2 address-left text-center">
									<i class="fa fa-phone"></i>
								</div>
								<div class="col-md-9 col-sm-8 col-10 address-right">
									<p>+1 234 567 8901</p>
								</div>
							</div>
							<div class="row address-grid my-3">
								<div class="col-md-3 col-sm-4 col-2 address-left text-center">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="col-md-9 col-sm-8 col-10 address-right">
									<p>
										<a href="mailto:example@email.com"> mail1@example.com</a>
									</p>
									<p>
										<a href="mailto:example@email.com"> mail2@example.com</a>
									</p>
								</div>
							</div>
							<div class="row address-grid">
								<div class="col-md-3 col-sm-4 col-2 address-left text-center">
									<i class="fa fa-map"></i>
								</div>
								<div class="col-md-9 col-sm-8 col-10 address-right">
									<p> 786 Main Road, hollies <br> California, USA</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-6 footer-grid footer-contact mt-lg-0 mt-4">
						<h3 class="mb-sm-4 mb-3 pb-lg-3"> Contact Us</h3>
						<ul class="list-unstyled">
							<li>
								+01(24) 8543 8088
							</li>
							<li class="mt-2">
								<a href="mailto:info@example.com">info@example.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- //footer -->

	<!-- copyright -->
	<div class="copyright-w3ls py-4">
		<div class="container">
			<div class="row">
				<!-- copyright -->
				<p class="col-lg-8 copy-right-grids text-bl text-lg-left text-center mt-lg-2">© 2020 . All
					Rights Reserved | Design by binjiezhang. | Template from
					<a href="https://w3layouts.com/" target="_blank" class="text-colors">W3layouts</a>
				</p>
				<!-- //copyright -->
				<!-- social icons -->
				<div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
					<ul>
						<li>
							<a href="#" class="rounded-circle">
								<span class="fa fa-facebook-f"></span>
							</a>
						</li>
						<li class="px-2">
							<a href="#" class="rounded-circle">
								<span class="fa fa-google-plus"></span>
							</a>
						</li>
						<li>
							<a href="#" class="rounded-circle">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li class="pl-2">
							<a href="#" class="rounded-circle">
								<span class="fa fa-dribbble"></span>
							</a>
						</li>
					</ul>
				</div>
				<!-- //social icons -->
			</div>
		</div>
	</div>
	<!-- //copyright -->
	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

</body>

</html>
